.screen.login.invisible
	.titlescreen
		.loginbox
			.input
				input.txtbox.txtusername(type='text', placeholder='Username', maxlength='16')
				input.txtbox.txtpassword(type='password', placeholder='Password', maxlength='32')
				.btnlogin
				.txtstatus
			
