.screen.pregamelobby.invisible
	.mainscreen
		.pregamelobbybox
			.teamlist.yourteam
				.player.p0
					.herobox
						.portrait.hero0
					.name anonymous
				.player.p1
					.herobox
						.portrait.hero0
					.name anonymous
				.player.p2
					.herobox
						.portrait.hero0
					.name anonymous
				.player.p3
					.herobox
						.portrait.hero0
					.name anonymous
				.player.p4
					.herobox
						.portrait.hero0
					.name anonymous
			.heroes
			.teamlist.otherteam
				.player.p0
					.herobox
						.portrait.hero0
					.name anonymous
				.player.p1
					.herobox
						.portrait.hero0
					.name anonymous
				.player.p2
					.herobox
						.portrait.hero0
					.name anonymous
				.player.p3
					.herobox
						.portrait.hero0
					.name anonymous
				.player.p4
					.herobox
						.portrait.hero0
					.name anonymous