!!!
html
	head
		block head
			title= title
			!= css('style')
			!= js('lib/jquery.min')
			!= js('lib/pixi.dev')
			!= js('lib/stats.min')
	body
		block header
			include header
		block body
		block footer
			include ./footer